# GENERAL
CONTAINER_UID=1000

# NETWORK
# names = [dev | public]
NETWORK_NAME=dev

# PHP
# Available version(s) = [7.1]
PHP_CONTAINER_NAME=empreintelaville-php
PHP_VERSION=7.1
PHP_PORT=9000

# NGINX
NGINX_CONTAINER_NAME=empreintelaville-nginx
NGINX_VERSION=1.10
NGINX_PUBLIC_DIR=/var/www/html/public

# MYSQL
MYSQL_CONTAINER_NAME=empreintelaville-mysql
MYSQL_VERSION=8.0.3
MYSQL_ROOT_PASSWORD=toor
MYSQL_USER=empreintelaville
MYSQL_DATABASE=empreintelaville
MYSQL_PASSWORD=empreintelaville

# ADMINER
ADMINER_CONTAINER_NAME=empreintelaville-adminer

# VIRTUAL HOSTS
ADMINER_VIRTUAL_HOST=adminer.empreintelaville.docker
NGINX_VIRTUAL_HOST=empreintelaville.docker

# Symfony 4
SYMFONY_ENTRYPOINT=index.php

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=8576755153cbf650f85a6640b05c5fee
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://empreintelaville:empreintelaville@empreintelaville-mysql:3306/empreintelaville
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
